*::-webkit-input-placeholder {
	color: #b0b0b0;
	opacity: 1;
}
*:-moz-placeholder {
	color: #b0b0b0;
	opacity: 1;
}
*::-moz-placeholder {
	color: #b0b0b0;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #b0b0b0;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body { 
	font-family: "Roboto";
	font-size: 18px;
	line-height: 160%;
	color: #000;
	overflow-x: hidden;
	margin: 0;
	background: #f0f0f0;
}
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
button,
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}
a, button, input, img {
	transition: all 0.3s;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	position: relative;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}

.header {
	padding: 19px 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	transition: all 1s;
}
.wrapper_page .header,
.header.fixed {
	background: #fff;
}
.wrapper_page .header .menu li:not(.menu__sale) a,
.header.fixed .menu li:not(.menu__sale) a {
	color: #000;
}
.wrapper_page .header .menu li:not(.menu__sale) a::before,
.header.fixed .menu li:not(.menu__sale) a::before {
	background: #000;
}
.wrapper_page .header .mob-search img,
.header.fixed .mob-search img,
.wrapper_page .header .btn-search img,
.wrapper_page .header .btn-header > img,
.wrapper_page .header .logo img,
.header.fixed .btn-search img,
.header.fixed .btn-header > img,
.header.fixed .logo img {
	filter: brightness(0%);
}
.wrapper_page .header .btn-header,
.header.fixed .btn-header {
	border-color: #000;
}
.wrapper_page .header .btn-header__value,
.header.fixed .btn-header__value {
	color: #fff;
	background: #000;
}
.menu {
	display: flex;
	align-items: center;
}
.menu li {
	margin-right: 38px;
	font-size: 18px;
	line-height: 26px;
	text-transform: uppercase;
}
.menu li a {
	color: #fff;
	position: relative;
}
.menu li.menu__sale a {
	color: #dc1b1b;
}
.menu li a::before {
	position: absolute;
	display: block;
	content: " ";
	width: 0;
	left: 0;
	height: 1px;
	bottom: 0;
	background: #fff;
	transition: all 0.7s;
}
.menu li a:hover::before {
	width: 100%;
}
.menu li.menu__sale a::before {
	background: #dc1b1b;
}
.logo-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo img {
	width: 92px;
	height: auto;
	max-width: 100%;
	display: block;
	margin: 0 auto;
}
.header .row {
	align-items: center;
}
.header__buttons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.btn-header {
	width: 50px;
	height: 46px;
	margin-right: 28px;
	border: 2px solid #fff;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
	transition: all 0.3s;
}
.btn-header:last-child {
	margin-right: 0;
}
.btn-header__value {
	font-size: 9px;
	width: 14px;
	height: 14px;
	top: 14px;
	left: 6px;
	border-radius: 50%;
	font-weight: 700;
	color: #000;
	background: #fff;
	transition: all 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
}

.billbord {
	padding: 210px 0;
	min-height: 100vh;
	color: #fff;
	background-image: url(../img/billbord.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	z-index: 1;
	position: relative;
	background-color: #fff;
}
.billbord::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: rgba(0, 0, 0, 0.4);
}
.title-big {
	font-size: 235px;
	margin-bottom: 100px;
	max-width: 920px;
	line-height: 78%;
	letter-spacing: -0.05em;
	text-transform: uppercase;
	font-weight: 900;
	font-family: 'Roboto';
}
.subtitle-page {
	font-size: 24px;
	line-height: 130%;
	font-weight: 700;
	text-transform: uppercase;
}
.billbord .subtitle-page {
	max-width: 527px;
}
.btn-main {
	height: 63px;
	padding: 0 30px;
	font-size: 20px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	background: #000;
	font-family: "Roboto";
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	transition: all 0.7s;
	border: none;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
.btn-main:hover {
	background: #333;
}
.billbord .btn-main {
	min-width: 206px;
	margin-top: 83px;
}
.collections {
	position: relative;
}
.collections::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	top: 0;
	left: 0;
	height: 75%;
	background: #fff;
	z-index: -1;
}
.head-section {
	padding-top: 100px;
	padding-bottom: 64px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.title-middle {
	font-size: 25px;
	line-height: 37px;
	font-weight: 700;
	text-transform: uppercase;
}
.title-section {
	font-size: 96px;
	line-height: 82%;
	letter-spacing: -0.05em;
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'Oswald';
}
.head-section .title-middle {
	margin-bottom: 22px;
}
.head-section__descr {
	max-width: 256px;
	line-height: 130%;
	text-transform: uppercase;
}
.row {
	margin: 0 -12px;
}
.row > div {
	padding: 0 12px;
}
.item-collection {
	display: block;
}
.item-collection img {
	width: 100%;
	max-width: 100%;
	height: auto;
	display: block;
}
.links-wrap {
	padding-top: 66px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.link-page {
	font-size: 40px;
	letter-spacing: -0.05em;
	text-transform: uppercase;
	font-weight: 700;
	color: #000;
	font-family: 'Oswald';
	display: inline-flex;
	align-items: center;
}
.link-page:hover img {
	transform: rotate(45deg);
}
.link-page img {
	margin: 0 10px;
	transition: all 0.7s;
}
.item-collection {
    position: relative;
    display: block;
    padding-top: 69%;
}
.item-collection__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.item-collection__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
}
.item-collection__image::after {
	position: absolute;
	display: block;
	content: " ";
	bottom: 0;
	left: 0;
	height: 50%;
	width: 100%;
	transition: all 1s;
	background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(0, 0, 0, 0) 0.01%, #000000 100%);
	opacity: 0.7;
}
.swiper-catalog .swiper-slide {
	width: 422px;
	margin-right: 24px;
	height: auto;
}
.swiper-catalog {
	margin-right: calc((100vw - 1770px) / 2* -1);
	padding-bottom: 40px;
}
.swiper-horizontal>.swiper-scrollbar {
	left: 0;
	width: 100%;
	background: #dcdada;
	height: 3px;
	border-radius: 0;
}
.swiper-scrollbar-drag {
	background: #393939;
	border-radius: 0;
}
.item-catalog {
	border: 1.20px solid #B5B5B5;
	position: relative;
	min-height: 100%;
	line-height: 130%;
	background: #f0f0f0;
	color: #000;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.tags-wrap {
	top: 18px;
	left: 18px;
	position: absolute;
	display: flex;
	align-items: center;
	z-index: 2;
}
.item-tag {
	font-size: 14px;
	padding: 0 14px;
	margin-right: 8px;
	border: 0.60px solid #000;
	line-height: 171%;
	color: #000;
	font-weight: 400;
	background: #fff;
	text-transform: uppercase;
}
.item-tag.item-tag_hit {
	background: #000;
	color: #fff;
}
.item-catalog__image {
	height: 547px;
	width: 100%;
	position: relative;
	overflow: hidden;
	display: block;
}
.item-catalog__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
	object-position: top;
}
.item-catalog__content {
	padding: 16px 40px;
	border-top: 1.20px solid #B5B5B5;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 1;
	width: 100%;
}
.item-catalog__title {
	margin-bottom: 14px;
	text-transform: uppercase;
	color: #000;
	display: block;
	width: 100%;
}
.item-catalog__prices {
	font-size: 20px;
	line-height: 140%;
	font-weight: 700;
	margin-top: auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}
.price-new {
	margin-right: 19px;
	color: #e93636;
}
.price-old {
	font-size: 19px;
	text-decoration: line-through;
	font-weight: 400;
}
.swiper-catalog * {
	box-sizing: border-box;
}
.btn-like {
    width: 28px;
    height: 24px;
	top: 18px;
	right: 18px;
	cursor: pointer;
	transition: all 0.5s;
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	z-index: 2;
}
.item-choise {
	background: #f0f0f0;
	border: 1px solid #B5B5B5;
	display: block;
	min-height: 100%;
}
.item-choise__image {
	height: 712px;
	display: block;
	position: relative;
}
.item-choise__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
	object-position: top;
}
.item-choise__image::after {
	position: absolute;
	display: block;
	content: " ";
	bottom: 0;
	left: 0;
	height: 84%;
	width: 100%;
	background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.474) 100%);
	opacity: 0.74;
	transition: all 1s;
}
.item-choise__content {
	padding: 40px 32px;
	display: block;
	width: 100%;
}
.looks .head-section__descr {
    max-width: 325px;
}
.links-wrap_single {
	justify-content: center;
}
.item-look {
	border: 1px solid #B5B5B5;
	line-height: 130%;
	padding-top: 92%;
	position: relative;
	display: block;
	color: #000;
	overflow: hidden;
}
.item-look__image {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
}
.item-look__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
}
.item-look__content {
	padding: 38px 48px;
	padding-bottom: 89px;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	background: #f0f0f0;
	border-top: 1px solid #B5B5B5;
	position: absolute;
	transition: all 1s;
	transform: translateY(100%);
}
.item-look:hover .item-look__content {
	transform: translateY(0);
}
.title-block {
	font-size: 40px;
	line-height: 59px;
	letter-spacing: -0.05em;
	font-weight: 700;
	font-family: 'Oswald';
	text-transform: uppercase;
}
.item-look .title-block {
	margin-bottom: 20px;
	display: block;
}
.descr-block {
	text-transform: uppercase;
}
.item-look__arrow {
	position: absolute;
	display: block;
	content: " ";
	width: 68px;
	height: 65px;
	right: 48px;
	bottom: 44px;
	background-color: #000;
	transition: all 0.7s;
}
.item-look__arrow::after {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/arrow2.svg);
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.7s;
}
.item-look__arrow:hover {
	background: #333;
}
.item-look__arrow:hover::after {
	transform: rotate(45deg);
}
.row.row_main {
	margin-bottom: -30px;
}
.row.row_main > div {
	margin-bottom: 30px;
}
.catalog {
	padding-bottom: 116px;
}
.lines__item {
	max-height: 80%;
	left: 2%;
	top: 0;
	position: absolute;
	height: 100%;
	background: #c9c9c9;
	width: 1px;
	z-index: -1;
}
.lines__item:nth-child(2) {
	left: 26.7%;
}
.lines__item:nth-child(3) {
	left: 52%;
}
.lines__item:nth-child(4) {
	left: 78%;
}
.popular {
	background-image: url(../img/bg_popular.svg);
	background-repeat: no-repeat;
	background-position: right bottom 40px;
}
.billbord-about {
	padding: 220px 0;
	color: #fff;
	background-image: url(../img/billbord_about.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.title-billbord {
	font-size: 128px;
	margin-bottom: 90px;
	line-height: 114%;
	font-weight: 700;
	letter-spacing: -0.03em;
	text-transform: uppercase;
	font-family: 'Oswald';
}
.billbord-about .link-page {
	color: #fff;
}
.billbord-about .subtitle-page {
	max-width: 378px;
	margin-left: auto;
	text-align: right;
}
.news .head-section__descr {
	max-width: 305px;
}
.item-news {
	border: 1.20px solid #B5B5B5;
	position: relative;
	min-height: 100%;
	line-height: 130%;
	background: #f0f0f0;
	color: #000;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.item-news__image {
	height: 375px;
	width: 100%;
	overflow: hidden;
	display: block;
}
.item-news__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
	object-position: top;
	transition: all 2s;
}
.item-news:hover .item-news__image img {
	transform: scale(1.05);
}
.item-news__content {
	padding: 40px;
	padding-bottom: 20px;
	border-top: 1.20px solid #B5B5B5;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 1;
	width: 100%;
}
.item-news__title {
	font-size: 20px;
	line-height: 29px;
	margin-bottom: 25px;
	max-width: 300px;
	text-transform: uppercase;
	color: #000;
	display: block;
	width: 100%;
}
.item-news__date {
	display: block;
	width: 100%;
	color: #606060;
	text-transform: uppercase;
	margin-top: auto;
}
.swiper-catalog.swiper-catalog_news .swiper-slide {
	width: 500px;
}
.item-news__arrow {
	position: absolute;
	display: block;
	content: " ";
	width: 40px;
	height: 40px;
	right: 24px;
	bottom: 24px;
	background-color: #000;
	transition: all 0.7s;
}
.item-news__arrow::after {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/arrow2.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 16px auto;
	transition: all 0.7s;
}
.item-news__arrow:hover {
	background: #333;
}
.item-news__arrow:hover::after {
	transform: rotate(45deg);
}
.news {
	position: relative;
}
.news::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	height: 54%;
	width: 100%;
	background: #fff;
	z-index: -1;
}
.row.row_footer {
	margin: 0 -55px;
}
.row.row_footer > div {
	padding: 0 55px;
}
.footer .head-section + .subtitle-page {
	padding-bottom: 40px;
	font-weight: 400;
}
.list-socials {
	display: flex;
	align-items: center;
}
.list-socials li {
	margin-right: 37px;
}
.list-socials li:last-child {
	margin-right: 0;
}
.list-socials a:hover img {
	opacity: 0.7;
}
.line-contacts {
	padding: 21px 0;
	font-size: 21px;
	line-height: 31px;
	border-top: 1px solid #000;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.line-contacts:last-child {
	padding: 19px 0;
	border-bottom: 1px #000 solid;
}
.line-contacts__value a,
.line-contacts__value {
	color: #000;
}
.line-contacts .list-socials li {
	margin-right: 22px;
}
.line-contacts .list-socials img {
	opacity: 0.5;
	max-width: 39px;
}
.line-contacts .list-socials li a:hover img {
	opacity: 1;
}
.footer__logo {
	width: 252px;
	margin: 0 auto;
	margin-top: 152px;
    margin-bottom: 153px;
	max-width: 100%;
	display: block;
}
.footer__logo img {
	max-width: 100%;
	height: auto;
}
.title-small {
	font-size: 20px;
	line-height: 150%;
	text-transform: uppercase;
}
.footer__form .title-small {
	max-width: 360px;
	margin-bottom: 55px;
}
.item-form {
	margin-bottom: 40px;
}
.item-form input,
.item-form textarea {
	height: 70px;
	padding: 0 24px;
	font-size: 20px;
	line-height: 150%;
	color: #000;
	font-weight: 400;
	width: 100%;
	text-transform: uppercase;
	border: 1px solid #000;
	background: transparent;
	background: #f0f0f0;
}
.footer {
	padding-top: 45px;
	background-image: url(../img/bg_footer.svg);
	background-repeat: no-repeat;
	background-position: right -63px bottom;
}
.form-bottom {
	display: flex;
	align-items: center;
}
.agree-form {
	font-size: 13px;
	max-width: 240px;
	line-height: 150%;
	color: #969696;
}
.agree-form a {
	color: #969696;
	border-bottom: 1px #969696 solid;
}
.agree-form a:hover {
	border-color: transparent;
}
.form-bottom .btn-main {
	margin-right: 37px;
	font-size: 21px;
	padding: 0 35px;
	font-weight: 400;
}
.footer-bottom {
	font-size: 14px;
	padding: 34px 0;
	margin-top: 100px;
	line-height: 150%;
	color: rgba(255, 255, 255, 0.5);
	background: #000;
}
.footer-bottom a {
	color: rgba(255, 255, 255, 0.5);
}
.footer-bottom a:hover {
	color: rgba(255, 255, 255, 1);
}
.footer-bottom__wrap {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.create {
	display: flex;
	align-items: center;
}
.create img {
	margin-left: 9px;
	margin-top: -2px;
}
.create {
	color: #cdd2d7;
}
.footer__wrap {
	font-size: 20px;
	line-height: 29px;
	padding-top: 60px;
	text-transform: uppercase;
	color: #717171;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.footer__nav {
	max-width: 815px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.footer__nav li {
	margin-right: 53px;
	margin-bottom: 25px;
}
.footer__nav li:last-child {
	margin-right: 0;
}
.footer__nav a {
	color: #717171;
}
.footer__nav a:hover {
	color: #000;
}
.footer__payments {
	flex: none;
}
.footer__payments {
	text-align: right;
}
.list-payments {
	margin-right: -5px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.footer__payments p {
	margin-bottom: 20px;
}
.list-payments li {
	margin-left: 5px;
}
.collections .row > div:nth-child(2n) .links-wrap {
	justify-content: flex-end;
}
.sandwich {
	display: none;
}
.wow {
	visibility: hidden;
}
.btn-header_search.active {
	width: 297px;
}
.btn-header_search.active > img {
	width: 0;
}
.btn-header_search.active .form-search {
	visibility: visible;
	opacity: 1;
}
.form-search input {
	top: 0;
	left: 46px;
	font-size: 12px;
	font-weight: 500;
	color: #fff;
	height: 100%;
	right: 0;
	position: absolute;
	border: none;
	font-family: "Roboto";
	background: transparent;
}
.form-search *::-webkit-input-placeholder {
	color: #fff;
}
.form-search *:-moz-placeholder {
	color: #fff;
}
.form-search *::-moz-placeholder {
	color: #fff;
}
.form-search *:-ms-input-placeholder {
	color: #fff;
}
.wrapper_page .header .form-search *::-webkit-input-placeholder,
.header.fixed .form-search *::-webkit-input-placeholder {
	color: #000;
}
.wrapper_page .header .form-search *:-moz-placeholder,
.header.fixed .form-search *:-moz-placeholder {
	color: #000;
}
.wrapper_page .header .form-search *::-moz-placeholder,
.header.fixed .form-search *::-moz-placeholder {
	color: #000;
}
.wrapper_page .header .form-search *:-ms-input-placeholder,
.header.fixed .form-search *:-ms-input-placeholder {
	color: #000;
}
.wrapper_page .header .form-search input,
.header.fixed .form-search input {
	color: #000;
}
.btn-search {
	width: 46px;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: none;
	padding: 0;
	background: transparent;
}
.form-search {
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s;
}
.content-search {
	padding: 12px 24px;
	margin-top: 3px;
	border-radius: 8px 8px 0 0;
	top: 100%;
	left: 0;
	width: 100%;
	position: absolute;
	background: #fff;
	display: none;
}
.content-search__title {
	font-size: 10px;
	margin-bottom: 14px;
	line-height: 150%;
	color: #969696;
}
.item-search {
	margin-bottom: 8px;
	display: flex;
	align-items: center;
	color: #000;
}
.item-search:last-child {
	margin-bottom: 0;
}
.item-search__image {
	width: 75px;
	height: 90px;
	margin-right: 14px;
	flex: none;
	border: 1px solid #B5B5B5;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-search .item-search__image img {
	max-width: 100%;
	max-height: 100%;
}
.item-search__title {
	font-size: 10px;
	margin-bottom: 9px;
	line-height: 142%;
	text-transform: uppercase;
	display: block;
}
.item-search__prices {
	font-size: 12px;
	line-height: 140%;
	display: flex;
	align-items: center;
	font-weight: 700;
	flex-wrap: wrap;
}
.item-search__prices .price-old {
	font-size: 10px;
	margin-left: 8px;
}
.content-search .btn-main {
	height: 37px;
	padding: 0 24px;
	font-size: 14px;
}
.content-search__bottom {
	padding-top: 22px;
	text-align: center;
}
.list-search {
	max-height: 483px;
	overflow: auto;
}
.list-search::-webkit-scrollbar {
	-webkit-appearance: none;
}
.list-search::-webkit-scrollbar:vertical {
	width: 3px;
}
.list-search::-webkit-scrollbar:horizontal {
	height: 3px;
}
.list-search::-webkit-scrollbar-thumb {
	background-color: #000;
	border-radius: 10px;
}
.list-search::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #ccc;
}
.wrapper_page {
	padding-top: 111px;
}
.breadcrumbs {
	padding-top: 64px;
	padding-bottom: 33px;
	color: rgba(20, 20, 20, 0.25);
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.breadcrumbs a {
	color: #000;
	border-bottom: 1px solid transparent;
}
.breadcrumbs a:hover {
	border-color: #000;
}
.breadcrumbs li::after {
	content: "-";
	color: #000;
	margin: 0 10px;
}
.breadcrumbs li:last-child::after {
	display: none;
}
.page-catalog .title-block {
	margin-bottom: 30px;
}
.sidebar-catalog {
	padding: 2px 32px;
	top: 120px;
	border: 1px solid #B5B5B5;
	position: sticky;
}
.list-sidebar > li {
	border-bottom: 1px solid #B5B5B5;
}
.list-sidebar > li:last-child {
	border: none;
}
.list-sidebar > li > a {
	font-size: 25px;
	line-height: 37px;
	padding: 22px 0;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	color: #231f20;
	font-family: 'Oswald';
	position: relative;
}
.list-sidebar > li > a:hover,
.list-sidebar > li.active > a {
	color: #717171;
}
.list-sidebar > li.list-sidebar__sale > a {
	color: #E93636;
}
.list-sidebar .list-sidebar__haschild > a::after {
	position: relative;
	display: block;
	content: " "; 
	width: 9px;
	height: 6px;
	margin-left: 12px;
	background-image: url(../img/triangle.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transition: all 0.3s;
}
.list-sidebar .list-sidebar__haschild.active > a::after {
	transform: rotate(180deg);
}
.list-sidebar ul li {
	margin-bottom: 8px;
}
.list-sidebar ul li a {
	border-bottom: 1px transparent solid;
	color: #000;
}
.list-sidebar ul li a:hover {
	border-color: #000;
}
.list-sidebar ul li:last-child {
	margin-bottom: 0;
}
.list-sidebar ul {
	padding-bottom: 22px;
	display: none;
}
.sorting-catalog {
    margin-top: 20px;
    margin-bottom: 37px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.sorting-catalog__left {
	display: flex;
	align-items: center;
}
.item-dropdown {
	margin-right: 32px;
	z-index: 5;
	position: relative;
}
.item-dropdown__content {
	width: 240px;
	padding: 20px 16px;
	box-shadow: 0 4px 12px 0 rgba(183, 183, 183, 0.15);
	top: 100%;
	left: 0;
	position: absolute;
	background: #fff;
	display: none;
}
.item-dropdown__value {
	cursor: pointer;
}
.item-dropdown__value i {
	margin-left: 12px;
	transition: all 0.3s;
}
.item-dropdown.active .item-dropdown__value i {
	transform: rotate(180deg);
}
.item-dropdown_price .item-dropdown__content {
	width: 391px;
}
.price-inputs {
	display: flex;
	align-items: center;
}
.price-inputs__item {
	flex: 1;
}
.price-inputs__item input {
	height: 37px;
	padding: 0 12px;
	font-size: 20px;
	color: #000;
	font-family: "Roboto";
	border: 1px solid #000;
	width: 100%;
	background: #fff;
}
.price-inputs__slash {
	width: 14px;
	margin: 0 9px;
	height: 1px;
	flex: none;
	background: #000;
}
.price-inputs__button {
	height: 37px;
	font-size: 20px;
	padding: 0 7px;
	margin-right: -7px;
	margin-left: 5px;
	flex: none;
	font-family: "Roboto";
	background: transparent;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-check__icon {
	width: 20px;
	height: 21px;
	margin-right: 14px;
	border: 1px solid #3a3838;
	flex: none;
	display: block;
	position: relative;
}
.item-check__icon::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/check.svg);
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.3s;
	opacity: 0;
}
.item-check__content {
	display: flex;
	align-items: center;
	cursor: pointer;
}
.item-check label {
	position: relative;
	display: block;
}
.item-check label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
}
.item-check label input:checked + * .item-check__icon::before {
	opacity: 1;
}
.list-checks li {
	margin-bottom: 8px;
}
.list-checks li:last-child {
	margin-bottom: 0;
}
.list-checks {
	max-height: 220px;
	overflow: auto;
}
.list-checks::-webkit-scrollbar {
	-webkit-appearance: none;
}
.list-checks::-webkit-scrollbar:vertical {
	width: 3px;
}
.list-checks::-webkit-scrollbar:horizontal {
	height: 3px;
}
.list-checks::-webkit-scrollbar-thumb {
	background-color: #000;
	border-radius: 10px;
}
.list-checks::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #ccc;
}
.item-check__color {
	width: 21px;
	height: 21px;
	margin-right: 8px;
	border: 1px solid transparent;
	border-radius: 50%;
	flex: none;
}
.item-check__color img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    font-family: 'object-fit: cover;';
	border-radius: 50%;
}
.btn-clear {
	font-size: 20px;
	margin-left: 20px;
	padding: 0;
	padding-bottom: 3px;
	border: none;
	border-bottom: 1px dashed #717171;
	color: #717171;
	font-family: "Roboto";
}
.btn-clear:hover {
	color: #000;
	border-color: #000;
}
.item-select .jq-selectbox__trigger {
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 300;
	transition: all 0.3s;
}
.item-select .jq-selectbox__trigger:before {
	content: "\f078";
}
.item-select .opened .jq-selectbox__trigger {
	transform: rotate(180deg);
}
.item-select .jq-selectbox__select-text {
	padding-right: 28px;
	cursor: pointer;
}
.item-select select {
	opacity: 0;
}
.item-select .jq-selectbox__dropdown {
	top: 100% !important;
	left: 0;
	bottom: auto !important;
	padding: 20px 16px;
	white-space: nowrap;
	box-shadow: 0 4px 12px 0 rgba(183, 183, 183, 0.15);
	background: #fff;
}
.item-select .jq-selectbox__dropdown li {
	margin-bottom: 8px;
	cursor: pointer;
}
.item-select .jq-selectbox__dropdown li:last-child {
	margin-bottom: 0;
}
.item-catalog__info {
	padding: 14px;
	padding-left: 28px;
	font-size: 21px;
	color: #0f0f0f;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	position: absolute;
	transition: all 0.5s;
	background: #f4f4f4;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transform: translateY(100%);
}
.item-catalog:hover .item-catalog__info{
	transform: translateY(0);
}
.colors-list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
} 
.item-color {
	width: 21px;
	height: 24px;
	margin-right: 12px;
	flex: none;
	display: block;
}
.item-color img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    font-family: 'object-fit: cover;';
}
.item-color:last-child {
	margin-right: 0;
}
.button-more {
	padding-top: 64px;
	text-align: center;
}
.pager {
	margin-top: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-numbers {
	width: 48px;
	height: 48px;
	font-size: 21px;
	font-weight: 700;
	margin: 0 9px;
	color: rgba(20, 20, 20, 0.25);
	text-align: center;
	border: 1px solid #B5B5B5;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-numbers.current,
.page-numbers:hover {
	color: #000;
}
.page-numbers.dots {
	border: none;
	width: auto;
	height: auto;
	align-self: flex-end;
	pointer-events: none;
}
.prev.page-numbers,
.next.page-numbers {
	border: none;
	color: #000;
}
.prev.page-numbers.disabled,
.next.page-numbers.disabled {
	color: rgba(20, 20, 20, 0.25);
	pointer-events: none;
}
.catalog-about__text p {
	margin-bottom: 35px;
}
.catalog-about__text p:last-child {
	margin-bottom: 0;
}
.catalog-about__text {
	max-width: 686px;
}
.catalog-about__info {
	padding-left: 85px;
}
.catalog-about__descr {
	margin-bottom: 42px;
	line-height: 170%;
	text-transform: uppercase;
}
.catalog-about__info .title-middle {
	margin-bottom: 42px;
	letter-spacing: -0.05em;
	font-family: 'Oswald';
}
.catalog-about__logo img {
	width: 105px;
	max-width: 100%;
	margin: 0 auto;
}
.catalog-about__content {
	padding: 80px 0;
	border-top: 1px solid #B5B5B5;
	border-bottom: 1px solid #B5B5B5;
}
.image-card {
	display: block;
}
.image-card img {
	max-height: calc(100vh - 130px);
	max-width: 100%;
	margin: 0 auto;
	height: auto;
}
.swiper-card {
	top: 120px;
	border: 1px solid #B5B5B5;
	position: sticky;
}
.swiper-button-next, 
.swiper-button-prev {
	color: #000;
}
.swiper-btn {
	width: 40px;
	height: 40px;
}
.swiper-button-next:after, 
.swiper-button-prev:after {
	font-size: 40px;
}
.swiper-card .swiper-button-next {
	right: 24px;
}
.swiper-card .swiper-button-prev {
	left: 24px;
}
.swiper-pagination-bullet {
	width: 52px;
	height: 4px;
	background: rgba(197, 197, 197, 0.8);
	border-radius: 0;
	opacity: 1;
	margin: 0 11px !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: #fff;
}
.swiper-card .swiper-pagination {
	bottom: 25px;
}
.card-head {
	margin-bottom: 75px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.card-head .tags-wrap {
	top: 0;
	left: 0;
	position: relative;
}
.card-head .item-tag {
	font-size: 19px;
	padding: 7px 24px;
	margin-right: 17px;
	line-height: 129%;
}
.articul {
	text-transform: uppercase;
	color: #231f20;
}
.page-card .title-block {
	margin-bottom: 40px;
}
.prices-card {
	font-size: 25px;
	padding-bottom: 40px;
	margin-bottom: 40px;
	border-bottom: 1px solid #000;
	line-height: 140%;
	font-weight: 700;
	font-family: 'Neutral Face';
	display: flex;
	align-items: center;
}
.prices-card .price-main {
	margin-right: 32px;
}
.prices-card .price-old {
	font-size: 19px;
}
.page-card .title-middle {
	margin-top: 40px;
	margin-bottom: 20px;
	font-family: 'Oswald';
}
.page-card .col_card {
	padding-left: 80px;
}
.colors-card {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.colors-card__item {
	width: 40px;
	height: 41px;
	margin-right: 16px;
	display: block;
	cursor: pointer;
	transition: all 0.3s;
	border: 4px solid transparent;
	position: relative;
}
.colors-card__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
}
.colors-card__item.selected {
	border-color: #ABA8A8;
}
.colors-card__item.disabled::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url(../img/line.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.colors-card__title {
	font-size: 19px;
	line-height: 140%;
	text-transform: uppercase;
	font-family: 'Neutral Face';
}
.sizes-card {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.sizes-card__item {
	margin-right: 16px;
	margin-bottom: 16px;
	width: 98px;
	height: 40px;
	font-size: 19px;
	line-height: 125%;
	border: 0.60px solid #000;
	font-family: 'Neutral Face';
	cursor: pointer;
	transition: all 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	text-align: center;
}
.sizes-card__item.selected {
	background: #000;
	border-color: #000;
	color: #fff;
}
.sizes-card__item.disabled {
	opacity: 0.4;
}
.link-default {
	font-size: 20px;
	border-bottom: 1px #656565 solid;
	color: #656565;
	display: inline-block;
}
.link-default:hover {
	color: #000;
	border-color: #000;
}
.sizes-card + .link-default {
	margin-top: 10px;
}
.btn-like.btn-like_card {
	width: 114px;
	height: 69px;
	border: 1px solid #000;
	position: relative;
	right: 0;
	top: 0;
	display: block;
}
.btn-like.btn-like_card::before,
.btn-like.btn-like_card::after {
	background-size: 30px auto;
}
.buttons-card {
	margin-top: 40px;
	display: flex;
	align-items: center;
}
.buttons-card .btn-main {
	height: 69px;
	margin-right: 24px;
	min-width: 417px;
}
.btn-like::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/like.svg);
	background-repeat: no-repeat;
	background-position: center;
	opacity: 1;
	background-size: contain;
	transition: all 0.5s;
}
.btn-like::after {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/like_active.svg);
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0;
	background-size: contain;
	transition: all 0.5s;
}
.btn-like.active::after {
	opacity: 1;
}
.btn-like.active::before {
	opacity: 0;
}
.tabs-card {
	margin-top: 54px;
	display: flex;
}
.tabs-card li {
	flex: 1;
	display: flex;
}
.tabs-card a {
	font-size: 25px;
	line-height: 37px;
	padding-bottom: 22px;
	border-bottom: 3px #DCDADA solid;
	display: block;
	width: 100%;
	text-transform: uppercase;
	color: #656565;
	font-weight: 700;
	text-align: center;
	font-family: 'Oswald';
}
.tabs-card a:hover,
.tabs-card .active a {
	border-color: #393939;
	color: #231f20;	
}
.tab-container-card p {
	margin-bottom: 15px;
}
.tab-container-card p:last-child {
	margin-bottom: 0;
}
.tab-container-card {
	padding-top: 24px;
}
.tab-pane-card {
	display: none;
}
.tab-pane-card:first-child {
	display: block;
}
.table-main table {
	font-size: 14px;
	line-height: 21px;
	width: 100%;
	border-spacing: 0;
}
.table-main th {
	padding: 15px 5px;
	font-size: 20px;
	line-height: 30px;
	font-weight: 700;
	text-align: center;
	background: #e5e5e5;
	text-transform: uppercase;
	border-top: 1px solid #B5B5B5;
	font-family: 'Oswald';
}
.table-main th,
.table-main td {
	border-right: 1px solid #B5B5B5;
	border-bottom: 1px solid #B5B5B5;
}
.table-main th:first-child,
.table-main td:first-child  {
	border-left: 1px solid #B5B5B5;
}
.table-main td:first-child {
	width: 192px;
}
.table-main td {
	padding: 10px;
	height: 61px;
}
.table-main td:not(:first-child) {
	text-align: center;
}
.title-middle.title-middle_min {
	font-size: 18px;
}
.links-card {
	display: flex;
	align-items: center;
}
.links-card .btn-main {
	padding: 0 24px;
	margin-right: 14px;
	font-size: 18px;
	font-weight: 400;
	border: 1px solid #000;
	background: transparent;
	text-transform: none;
	color: #000;
}
.links-card .btn-main img {
	margin-right: 14px;
	max-width: 32px;
	transition: all 0.5s;
}
.links-card .btn-main:hover {
	background: #000;
	color: #fff;
}
.links-card .btn-main:hover img {
	filter: invert(1);
}
.recommendations .title-block {
	padding-bottom: 65px;
}
.recommendations {
	padding-top: 70px;
}
.page-card {
	padding-bottom: 70px;
}
.modal-block {
	padding: 0;
	display: none;
}
.modal-wrap {
	padding: 48px;
	width: 482px;
	max-width: 100%;
	background: #fff;
}
.modal-wrap .title-middle {
	margin-bottom: 24px;
	font-family: 'Oswald';
}
.modal-wrap .title-middle + p {
	margin-bottom: 24px;
}
.modal-wrap .item-form textarea,
.modal-wrap .item-form input {
	height: 62px;
	background: #fff;
	border-color: #B5B5B5;
}
.modal-wrap .btn-main {
	height: 62px;
	width: 100%;
	padding: 0 10px;
}
.modal-wrap .item-form {
	margin-bottom: 24px;
}
.modal-block .fancybox-close-small {
	top: 4px;
	right: 4px;
}
.modal-wrap.modal-wrap_sizes {
	padding: 24px;
	width: 757px;
}
.billbord-page {
	min-height: 850px;
	color: #fff;
	background-image: url(../img/billbord2.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	position: relative;
	z-index: 1;
}
.billbord-page::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: rgba(0, 0, 0, 0.4);
}
.billbord-page .breadcrumbs {
	padding: 133px 0;
	color: #fff;
}
.billbord-page .breadcrumbs a,
.billbord-page .breadcrumbs li::after {
	color: #fff;
}
.billbord-page .title-big {
	margin-bottom: 0;
}
.billbord-page__bottom {
	margin-top: -40px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.billbord-page__bottom .title-block {
	padding-bottom: 26px;
	background-image: url(../img/line_title.svg);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 95% auto;
}
.page-about {
	padding-top: 100px;
}
.about-main {
	padding: 44px 33px;
	line-height: 160%;
	border: 1px solid #B5B5B5;
	min-height: 100%;
}
.about-main p {
	margin-bottom: 14px;
}
.about-main p:last-child {
	margin-bottom: 0;
}
.about-main .title-block {
	margin-bottom: 28px;
}
.about-main__head {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}
.about-main__image {
	width: 182px;
	height: 182px;
	margin-right: 29px;
	border-radius: 50%;
	position: relative;
	display: block;
	flex: none;
}
.about-main__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
}
.about-main__image::before {
	position: absolute;
	display: block;
	content: " ";
	top: 4px;
	left: 4px;
	bottom: 4px;
	right: 4px;
	background-image: url(../img/circle_about.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.about-main__image::after {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/play.svg);
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.5s;
}
.about-main__image:hover::after {
	transform: scale(1.1);
}
.about-main .about-main__head .title-block {
	font-size: 32px;
	line-height: 47px;
	margin: 0;
}
.page-about .row > div:first-child .about-main {
	background-image: url(../img/noise.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.item-about .row {
	margin: 0 -55px;
	align-items: center;
}
.item-about .row > div {
	padding: 0 55px;
}
.item-about {
	margin-bottom: 74px;
	text-transform: uppercase;
}
.item-about:last-child {
	margin-bottom: 0;
}
.item-about img {
	max-width: 100%;
	height: auto;
	display: block;
	border: 1px solid #B5B5B5;
}
.item-about .title-block {
	margin-bottom: 33px;
	max-width: 588px;
}
.item-about:nth-child(even) .row {
	flex-direction: row-reverse;
}
.item-about p {
	max-width: 645px;
}
.quality .head-section__descr {
    max-width: 243px;
}
.item-quality {
	margin-bottom: 40px;
	border: 1px solid #B5B5B5;
	text-transform: uppercase;
}
.item-quality img {
	max-width: 100%;
	height: auto;
	display: block;
}
.item-quality .title-block {
	margin-bottom: 22px;
}
.item-quality .row > div:nth-child(2) {
	padding-left: 40px;
	padding-right: 65px;
}
.item-quality .row {
	align-items: center;
}
.item-document {
	border: 1px solid #B5B5B5;
	display: flex;
	text-transform: uppercase;
}
.item-document__link {
	width: 29%;
	margin-left: auto;
	border-left: 1px solid #B5B5B5;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-document__link a {
	font-size: 25px;
	text-transform: uppercase;
	color: #000;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: 'Oswald';
}
.item-document__link a img {
	margin-left: 10px;
}
.item-document__text {
	padding: 39px 64px;
	max-width: 1046px;
	display: flex;
	color: #000;
	align-items: center;
}
.item-document__text img {
	margin-right: 40px;
	flex: none;
}
.item-document__link a span {
	border-bottom: 1px transparent solid;
	transition: all 0.3s;
}
.item-document__link a:hover span {
	border-color: #000;
}
.item-document:not(:last-child) {
	border-bottom: none;
}
.about-wrap {
	padding-top: 140px;
}
.unit-look {
	border: 1px solid #B5B5B5;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: 100%;
	color: #000;
}
.unit-look__image {
	height: 683px;
	width: 100%;
	display: block;
	overflow: hidden;
}
.unit-look__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
	transition: all 2s;
}
.unit-look:hover .unit-look__image img {
	transform: scale(1.05);
}
.unit-look__content {
	padding: 24px;
	padding-right: 34px;
	width: 100%;
	flex: 1;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: flex-start;
	position: relative;
}
.unit-look__content::after {
	position: absolute;
	display: block;
	content: " ";
	width: 23px;
	height: 23px;
	bottom: 20px;
	right: 24px;
	background-repeat: no-repeat;
	background-image: url(../img/arrow.svg);
	background-repeat: no-repeat;
	background-size: contain;
	transition: all 0.5s;
}
.unit-look__content:hover::after {
	transform: rotate(45deg);
}
.unit-look__title {
	font-size: 34px;
	line-height: 120%;
	letter-spacing: -0.05em;
	text-transform: uppercase;
	color: #000;
	font-family: 'Oswald';
	font-weight: 700;
}
.row.row_looks > div {
	margin-bottom: 64px;
}
.row.row_looks {
	margin-bottom: -64px;
}
.page-looks .title-block {
	margin-bottom: 40px;
}
.single-look {
	column-gap: 24px;
	columns: 2;
}
.single-look__item {
	margin-bottom: 24px;
	display: block;
	break-inside: avoid;
	position: relative;
	overflow: hidden;
}
.single-look__item:hover img {
	transform: scale(1.05);
}
.single-look__item img {
	width: 100%;
	height: auto;
	transition: all 2s;
}
.video-main,
.fancybox_video {
	position: relative;
}
.video-main::after,
.fancybox_video::after {
	position: absolute;
	display: block;
	content: " ";
	width: 88px;
	height: 88px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-image: url(../img/play_main.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transition: all 1s;
}
.video-main:hover::after,
.fancybox_video:hover::after {
	transform: scale(1.1);
}
.head-page {
	margin-bottom: 37px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.row.row_news {
	margin-bottom: -40px;
}
.row.row_news > div {
	margin-bottom: 40px;
}
.news-main__image {
	height: 740px;
	border: 1px solid #B5B5B5;
	display: block;
	overflow: hidden;
}
.news-main__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
	transition: all 2s;
}
.news-main__content {
	border: 1px solid #B5B5B5;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: 100%;
}
.news-main__bottom {
	padding: 40px 48px;
	padding-left: 65px;
	border-top: 1px solid #B5B5B5;
	margin-top: auto;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.news-main__title {
	padding: 105px 64px;
	font-size: 40px;
	line-height: 59px;
	letter-spacing: -0.05em;
	color: #000;
	text-transform: uppercase;
	font-weight: 700;
	padding-bottom: 0;
	display: block;
	width: 100%;
	font-family: 'Oswald';
}
.news-main__date {
	font-size: 24px;
	text-transform: uppercase;
	color: #606060;
}
.news-main__link {
	position: relative;
	display: block;
	width: 68px;
	height: 65px;
	background-color: #000;
	background-image: url(../img/arrow2.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.news-main:hover .news-main__image img {
	transform: scale(1.05);
}
.billbord-article {
	padding-top: 134px;
	min-height: 649px;
	position: relative;
	z-index: 1;
	background-image: url(../img/billbord_article1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.billbord-article::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: rgba(0, 0, 0, 0.4);
}
.billbord-article .breadcrumbs {
	padding-top: 0;
	color: rgba(255, 255, 255, 0.64);
}
.billbord-article .breadcrumbs a,
.billbord-article .breadcrumbs li::after {
	color: #fff;
}
.billbord-article .breadcrumbs a:hover {
	border-color: #fff;
}
.page-article {
	padding-top: 36px;
}
.article-date {
	font-size: 20px;
	padding-bottom: 20px;
	margin-bottom: 80px;
	max-width: 1165px;
	border-bottom: 1px solid #000;
	text-transform: uppercase;
	color: #606060;
}
.article-content {
	max-width: 1017px;
	padding-bottom: 15px;
	line-height: 170%;
}
.article-content h2 {
	font-size: 40px;
	margin-top: 55px;
	line-height: 59px;
	margin-bottom: 35px;
	letter-spacing: -0.05em;
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'Oswald';
}
.article-content h4 {
	margin-bottom: 35px;
	line-height: 130%;
	text-transform: uppercase;
	font-size: inherit;
}
.article-content blockquote {
	font-size: 25px;
	line-height: 37px;
	margin: 58px 0;
	font-family: 'Oswald';
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
}
.article-content img {
	margin-bottom: 58px;
	max-width: 100%;
	height: auto;
	display: block;
}
.article-content p {
	margin-bottom: 24px;
}
.article-content ul li {
	padding-left: 20px;
	margin-bottom: 8px;
	position: relative;
}
.article-content ul li::before {
	position: absolute;
	top: 0;
	left: 0px;
	content: "•";
}
.article-content p strong {
	text-decoration: underline;
}
.article-content .col-md-6 img {
	margin-bottom: 0;
}
.article-content .row {
	margin-top: 58px;
	margin-bottom: 58px;
}
.article-content .row h2 {
	margin-top: 0;
}
.article-content .row img {
	margin: 0;
}
.article-content .fancybox_video::after {
	width: 72px;
	height: 72px;
}
.bottom-button {
	padding-top: 15px;
	text-align: center;
}
.sidebar-article {
	padding-left: 60px;
	top: 120px;
	position: sticky;
}
.sidebar-article .title-middle {
	margin-bottom: 33px;
	font-family: 'Oswald';
}
.sidebar-article .item-news {
	margin-bottom: 30px;
	min-height: initial;
}
.sidebar-article .item-news__image {
	height: 286px;
}
.sidebar-article .item-news__content {
	padding: 16px 32px;
	padding-bottom: 19px;
}
.sidebar-article .item-news__title {
    margin-bottom: 14px;
}
.sidebar-article .item-news__arrow {
	display: none;
}
.sidebar-article .item-news__title,
.sidebar-article .item-news {
    font-size: 14px;
    line-height: 21px;
}
.buttons-page {
	margin-bottom: 40px;
	display: flex;
	align-items: center;
}
.buttons-page li {
	flex: 1;
}
.buttons-page a {
	font-size: 25px;
	line-height: 37px;
	height: 69px;
	border: 1px solid #B5B5B5;
	text-transform: uppercase;
	color: #000;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: 'Oswald';
}
.buttons-page a img {
	margin-right: 24px;
}
.buttons-page .active a,
.buttons-page a:hover {
	background: #000;
	border-color: #000;
	color: #fff;
}
.buttons-page .active a img,
.buttons-page a:hover img {
	filter: brightness(0) invert(1);
}
.page-delivery .title-block {
	margin-bottom: 58px;
}
.page-delivery .title-middle {
	margin-bottom: 22px;
	font-family: 'Oswald';
}
.delivery-info {
	padding: 40px;
	margin-top: 40px;
	border: 1px solid #B5B5B5;
}
.delivery-info .title-block {
	margin-bottom: 20px;
}
.page-delivery {
	line-height: 170%;
	background-image: url(../img/bg_delivery.svg);
	background-repeat: no-repeat;
	background-position: right top 60px;
}
.title-min {
	font-weight: 700;
	font-family: 'Oswald';
	text-transform: uppercase;
}
.delivery-info .title-min {
	margin-top: 20px;
	margin-bottom: 14px;
}
.content-delivery ul li {
	padding-left: 20px;
	margin-bottom: 8px;
	position: relative;
}
.content-delivery ul li::before {
	position: absolute;
	top: 0;
	left: 5px;
	content: "•";
}
.page-delivery_return .content-delivery ul li {
	margin-bottom: 20px;
}
.page-delivery hr {
	margin: 40px 0;
	height: 1px;
	border: none;
	background: #000;
}
.page-contacts .title-block {
	margin-bottom: 55px;
}
.contact-info {
	padding: 60px 48px;
	padding-bottom: 20px;
	border: 1px solid #B5B5B5;
	min-height: 100%;
}
.contact-info .list-socials img {
	max-width: 38px;
}
.list-socials li {
	position: relative;
}
.contact-info .list-socials li {
	margin-right: 22px;
}
.contact-info .list-socials li:last-child {
	margin-right: 0;
}
.contact-info .title-middle {
	padding-bottom: 30px;
	margin-bottom: 46px;
	border-bottom: 1px solid #B5B5B5;
	font-family: 'Oswald';
}
.item-contact {
	font-size: 21px;
	line-height: 31px;
	margin-bottom: 25px;
	font-weight: 700;
	text-transform: uppercase;	
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.item-contact__value a {
	color: #000;
}
.descr-social {
	font-size: 10px;
	line-height: 12px;
	margin-top: 7px;
	font-weight: 400;
	color: #969696;
	top: 100%;
	left: 0;
	right: 0;
	position: absolute;
	text-align: center;
	text-transform: none;
	display: flex;
	justify-content: center;
}
.sub-socials {
	top: -7px;
	right: -9px;
	position: absolute;
}
.descr-sub {
	font-size: 13px;
	line-height: 150%;
	color: #969696;
}
.contact-info .descr-sub {
	margin-top: 55px;
}
.contact-info_main {
	position: relative;
	z-index: 1;
	background-image: url(../img/contacts_info.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
}
.contact-info_main::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: rgba(0, 0, 0, 0.5);
}
.button-contact {
	padding: 32px 0;
	font-size: 21px;
	line-height: 31px;
	color: #fff;
	font-weight: 700;
	border-bottom: 1px solid #B5B5B5;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.contact-info_main .title-middle {
	margin-bottom: 0 !important;
}
.button-contact:hover {
	opacity: 0.7;
}
.item-form textarea {
	height: 138px;
	padding-top: 15px !important;
	resize: none;
}
.modal-wrap .item-form textarea {
	height: 138px;
}
.checkbox {
	font-size: 13px;
	line-height: 150%;
	color: #969696;
	font-weight: 400;
	letter-spacing: normal;
	display: flex;
	justify-content: flex-start;
	text-align: left;
}
.checkbox a {
	color: #969696;
	border-bottom: 1px #969696 solid;
}
.checkbox a:hover {
	border-color: transparent;
}
.checkbox label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
}
.checkbox label > span {
	position: relative;
	padding: 4px 0 0 38px;
	display: block;
	cursor: pointer;
}
.checkbox label > span:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 0;
	width: 18px;
	height: 18px;
	border: 1px solid #7d848c;
	transition: .2s;
}
.checkbox label > span:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 0;
	width: 18px;
	height: 18px;
	content: "\f00c";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 500;
	background-image: none;
	color: #fff;
	font-size: 11px;
	opacity: 0;
	transition: .2s;
}
.checkbox label input:checked + span:before {
	background: #000;
	border-color: #000;
}
.checkbox label input:checked + span:after {
	opacity: 1;
}
.checkbox + .btn-main {
	margin-top: 24px;
}
#modal-thanks {
	text-align: center;
}
#modal-thanks .modal-wrap .title-middle + p {
	margin-bottom: 47px;
}
#modal-thanks .modal-wrap .title-middle {
    margin-bottom: 30px;
}
.page-recap {
	padding-bottom: 70px;
	text-align: center;
}
.title-recap {
	font-size: 96px;
	margin-top: 140px;
	margin-bottom: 40px;
	line-height: 82%;
	letter-spacing: -0.05em;
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'Oswald';
}
.descr-recap {
	max-width: 685px;
	margin: 0 auto;
	margin-bottom: 40px;
}
.page-recap .btn-main {
	min-width: 360px;
}
.modal-sale {
	width: 704px;
	max-width: 100%;
	background: #fff;
}
.modal-sale__image img {
	width: 100%;
	height: auto;
}
.modal-sale__content {
	padding: 24px 40px;
	padding-bottom: 32px;
}
.modal-sale .title-middle {
	margin-bottom: 8px;
	font-family: 'Oswald';
}
.modal-sale p {
	margin-bottom: 40px;
}
.modal-sale__bottom {
	text-align: center;
}
.modal-sale__bottom .btn-main {
	min-width: 290px;
}
.page-recap_error {
	background-image: url(../img/bg_error.svg);
	background-position: right bottom;
	background-repeat: no-repeat;
}
.footer {
	overflow: hidden;
}
.privacy-policy h2 {
	font-size: 25px;
	padding-bottom: 24px;
	margin-top: 45px;
	margin-bottom: 24px;
	border-bottom: 1px solid #000;
	font-family: 'Oswald';
	text-transform: uppercase;
	font-weight: 700;
}
.privacy-policy {
	line-height: 170%;
	background-image: url(../img/bg_privacy.svg);
	background-repeat: no-repeat;
	background-position: right top 150px;
}
.header__left {
	display: flex;
	align-items: center;
}
.video-main iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
	transition: all 0.3s;
}
.video-main.active iframe {
	z-index: 5;
	opacity: 1;
}
.video-main.active img,
.video-main.active::after {
	opacity: 0;
}
.news,
.popular {
	overflow: hidden;
}